*.aux
*.bak
*.bar
*.bbl
*.bcf
*.blg
*.bz2
*.dvi
*.foo
*.gif
*.gz
*.idx
*.log
*.maf
*.mtc
*.mtc0
*.out
*.patch
*.pdf
*.png
*.ps
*.pyc
*.run.xml
*.svg
*.toc
*~
.*
WEB
auto
book.tex
fonts
gerby-website
output
output.tmf
plastex
preamble-alegreya-sans-tcb.tex
preamble-alegreya-sans.tex
preamble-arno.tex
preamble-chapter-alegreya-sans-tcb.tex
preamble-chapter-alegreya-sans.tex
preamble-chapter-arno.tex
preamble-chapter-cm.tex
preamble-chapter-darwin.tex
preamble-cm.tex
preamble-darwin.tex
preamble-tcb.tex
preamble.tex
preamble/compiled/*
pybtex
tags/pictures
tikzcd-preamble-tmp.tex
tikzcd-preamble.tex
titlepage/output.jpg
titlepage/text/version.tex
titlepage/titlepage-two.tex
tmp
venv
web-clone
