*.aux
*.run.xml
*.bak
*.bar
*.bbl
*.blg
*.bz2
*.dvi
*.foo
*.gz
*.log
*.mtc
*.mtc0
*.out
*.patch
*.pdf
*.ps
*.pyc
*.toc
*~
.*
WEB
auto
fonts
gerby-website
output
output.tmf
tags/pictures
titlepage/output.jpg
titlepage/text/version.tex
titlepage/titlepage-two.tex
tmp
preamble-alegreya-sans-tcb.tex
preamble-alegreya-sans.tex
preamble-arno.tex
preamble-chapter-alegreya-sans-tcb.tex
preamble-chapter-alegreya-sans.tex
preamble-chapter-arno.tex
preamble-chapter-cm.tex
preamble-chapter-darwin.tex
preamble-cm.tex
preamble-darwin.tex
preamble-tcb.tex
preamble.tex
tikzcd-preamble.tex
tikzcd-preamble-tmp.tex
fonts
venv
plastex
pybtex
preamble/compiled/*
book.tex
