*.aux
*.bak
*.bar
*.bbl
*.bcf
*.blg
*.bz2
*.dvi
*.foo
*.gif
*.gz
*.idx
*.log
*.maf
*.mtc
*.mtc0
*.out
*.patch
*.svg
*.png
*.ps
*.pyc
*.run.xml
*.toc
*~
.*
WEB
auto
book.tex
fonts/alegreya-sans
fonts/brill
fonts/Hundar
fonts/ysabeau
fonts/NotoSansJP-VF.otf
fonts/NotoSansSC-VF.otf
fonts/NotoSansTC-VF.otf
gerby-website
output
output.tmf
plastex
preamble-alegreya-sans-tcb.tex
preamble-alegreya-sans.tex
preamble-arno.tex
preamble-chapter-alegreya-sans-tcb.tex
preamble-chapter-alegreya-sans.tex
preamble-chapter-arno.tex
preamble-chapter-cm.tex
preamble-chapter-darwin.tex
preamble-cm.tex
preamble-darwin.tex
preamble-tcb.tex
preamble.tex
preamble/compiled/*
pybtex
tags/pictures
tikzcd-preamble-tmp.tex
tikzcd-preamble.tex
titlepage/output.jpg
titlepage/text/version.tex
titlepage/titlepage-two.tex
tmp
venv
web-clone
pictures/light-mode/*
pictures/dark-mode/*
titlepage/text/*.pdf
titlepage/titlepage.pdf
tags/tags
pictures/trans-flag/trans-flag.pdf
127.0.0.1*
chapters2.tex
